.dashboard_main {
  background-color: #2E3543;
  height: 100vh;
  width: 100vw;






}
.center {
  height: 40vh;
  width: 40vw;
  background: rgb(198, 231, 250);
}
.add-widget-button {
  display: none;

}
