.dashboard_main {
  background-image: url("https://c1.staticflickr.com/5/4085/5021138504_7bb8e711ba_b.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;

}
.center {
  height: 40vh;
  width: 40vw;
  background: blue;
}
